*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    /* color: #f5f5f5; */
}
body{
    color: #424141;
    font-family: "Quicksand", sans-serif;
    background-color: #e9ff9972;
    min-height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
}
.glass-container{
   display: block;
   background-color: rgba(0, 0, 0, 0.245);
   max-width: 75vw;
   margin-top: 10vh;
   margin-bottom: 40px;
   padding: 50px;
   border-radius: 20px;
   backdrop-filter: blur(12px);
   box-shadow: 0 40px 50px rgba(0, 0, 0, 0.4);
}
.navbar>.logo{
    display: inline-block;
}
.navbar>.logo>a{
    /* display: inline-block; */
    color: black;
    font-size: 2.4rem;
    font-weight: 700;
    margin-top: -10vh;
    margin-bottom: 20px;
}
.navbar>.logo>a:hover{
    color: rgba(0, 0, 0, 0.756);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
ul.navlinks{
    margin: 0;
    display: flex;
    float: right;
    list-style: none;
}
li.navlink{
    padding-left: 30px;
    font-size: 1.2rem;
    display: inline-block;
}
li.navlink>a{
    color: black;
    font-weight: 700;
}
li.navlink>a:hover{
    color: rgba(0, 0, 0, 0.76);
}
.content{
    display: flex;
    justify-content: center;
}
.main{
    display: inline-block;
    margin-top: 7vh;
    padding: 25px;
}
.main>h2{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.8);   
}
.main>p{
    font-size: 1.2rem;
    margin-top: 25px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.832);
}
.main>button{
    width: 80%;
    height: 40px;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 30px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid rgba(250, 250, 250, 0.647);
    cursor: pointer;
    transition: all 0.5s ease;
}
.main>button:hover{
    color: #e9ff99f7;
    background-color: rgba(0, 0, 0, 0.13);
    border: none;
}

@media screen and (max-width:1024px) {
    .content{
        flex-direction: column;
    }
    .image>img{
        width: 400px;

    }
}
@media screen and (max-width:768px) {
    li.navlink>a{
        font-size: 1.0rem;
    }

    .navbar>.logo>a{
        font-size: 2.0rem;
        /* margin-top: -20px; */
    }
    li.navlink{
        padding-left: 10px;
        padding-right: 20px;
        padding-top: 7px;
    }
}
@media screen and (max-width:375px){
    .image>img{
        width: 250px;
    }   
    .image{
        margin-left: -23px;
        margin-bottom: 30px;
        margin-top: -20px;
    }
    .glass-container{
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .navbar>.logo>a{
        text-align: center;
        padding-left: 25px;
        font-size: 1.8rem;
    }
    li.navlink>a{
        font-size: 0.8rem;
    }
    ul.navlinks{
        justify-content: space-around;
    }
    .main{
        width: 100%;
        margin-top: 1vh;
    }
    .main>h2{
        font-size: 1.2rem;
    }
    .mian>p{
        font-size: 0.8rem;
    }
    .main>button{
        max-width: 100%;
        font-size: 1rem;
    }
}
@media screen and (max-width:320px){
    .image>img{
        width: 190px;
    }
    .image{
        margin-left: -8px;
    }
    li.navlink>a{
        font-size: 0.6rem;
    }
}

.content>.image{
    display: flex;
    position: relative;
}
.image>img{
    margin-top: 50px;
    margin-left: 20px;
    max-width:500px;
    border-radius: 30px;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.4);
}